.main_section{
  background-color: white ;


}
.section1{
  background-color:#eed8c9 ;
  height: 500px;
  width: 800px;
  left: 250px;

}
.section2{
  background-color: #a49592 ;
  height: 500px;
  width: 800px;
  left: 250px;

}
.main_section_logo{
  text-align: center;
}
.logo1{
  display: inline-block;
  vertical-align: middle;
  height: 60px;
  width: 90px;
  background-repeat: no-repeat;
}
.text{
  font-size: 10px;
}
.login_area{
  text-align: center;
}
.form_inline{
  text-align: center;
  height: 300px;
}
.signin_form{
text-align: center;
}



.signup_sketch{
  position:relative;
  text-align: center;
  height: 400px;
  width: 800px;
  padding: 100px 0 120px;
  z-index: 1;
  background: #071524;
  margin-top: 40px;
  left: 250px;

}

.logo{
  display: inline-block;
  vertical-align: middle;
  margin-top: -180px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  width: 70px;
  height: 80px;
  background-repeat: no-repeat;
}

h2,p{
  color: #ffffff;

}
.signup_form{
  height: 200px;
  color: #7e8890;
  background: #071524;
}

.form-control{
  text-align: center;
  font-size: 16px;
  height: 30px;
  width: 200px;

}


.main_area{
  height: 1000px;
  width: 800px;
  background-color: wheat;
  position: absolute;
  left: 250px;
}

.sidebar{
  position: fixed;
  background-color: red;
  left: 0;
  bottom: 0;
  width: 150px;
  height: 200px;
}
.logo{
}

.com_name{
  text-align: center;
}

.nav_list{
  text-align: center;
  padding: 20px;
}
.butt{
  background-color: darkcyan;
  margin-left: 20px;
  height: 45px;
  width: 100px;
  font-size: 15px;
}


.upload_area{
  background-color: #7e8890;
  height: 400px;
  width: 500px;
  margin-left: 90px;
  margin-bottom: 40px;
}

.display{

}
.download_area{
  background-color: #7e8890;
  height: 400px;
  width: 500px;
  margin-left: 90px;
  margin-bottom: 40px;
}
